@import 'src/styles/images';
@import 'src/styles/sizes';

$thumbnail-height: calc((#{$bottom-content-height} / 10) * 6);

.thumbnails-wrapper {
  display: flex;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  scroll-behavior: smooth;
  width: 100%;
}

.thumbnail-wrapper {
  border-radius: $border-radius;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  margin: $margin-extra-small;
  padding: $padding-extra-small;
  transition: background-color var(--transition-duration) ease;

  .thumbnail {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .thumbnail-image {
      background-color: var(--white);
      border-radius: calc(#{$border-radius} / 2);
      box-shadow: 0 0 0 1px var(--border-color);
      display: block;
      height: $thumbnail-height;
      transition: box-shadow var(--transition-duration) ease;
      width: auto;
    }

    .thumbnail-footer {
      align-items: baseline;
      display: flex;
      font-size: x-small;
      font-variant-numeric: tabular-nums;
      gap: $margin-small;
      justify-content: space-between;
      margin-top: $margin-extra-small;
      padding: 0 $padding-extra-small * .5;
    }

    .thumbnail-index {
      font-weight: var(--font-weight-bold);
    }

    .thumbnail-time {
      color: var(--muted-content-color);
    }

    .screenshare {
      align-items: center;
      background-color: transparent;
      box-shadow: none;
      display: flex;
      font-size: xxx-large;
      font-weight: var(--font-weight-semi-bold);
      justify-content: center;
    }
  }

  &.active .thumbnail .thumbnail-image:not(.screenshare) {
    box-shadow: 0 0 0 $border-width-small var(--focus-ring-color);
  }
}
